table{
  width: 1000px;
  align: center;
}

th, caption{
  text-align: left;
}

table, th, td {
  border: 1px solid #000;
  border-collapse: collapse;
  align-items: center;

}

th, td {
  padding: 10px;

}

body{
  background-color:#fef9e7;
}
